*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'PT Serif', serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header_top{
    background-color: #303030;
}
.header_btr{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header_btr:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header_contacts:after{
    content: "";
    display: block;
}
.header_phone,
.header_email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header_phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header_phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_email{
    padding-left: 24px;
}
.header_email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_content{
    padding: 34px 0px 23px;
}
.header_contant-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}
.menu li + li{
    padding-left: 10px;
}
.menu a:hover{
    border-color: #ffc222;
}
#modal{
    display: none;
}
.slider{
    background-image: url("../img/slider-fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider_item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider_text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}
.default-btn:after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}
.slider_inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;

}
.slick-btn::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #ffffff;
}
.slick-next:before{
    content: "\f105";
}
.slick-next{
    right: 0;
}
.slick-prev:before{
    content: "\f104";
}
.slick-prev{
    left: 0;
}
.about{
    padding: 50px 0px 30px;
}
.about_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.about_title-box,
.form_title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.about_title-box:before,
.form_title-box:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.about-title,
.form-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.about_text,
.form_text{
    letter-spacing: 0.1px;
}
.about_btn a{
    color: #373636;
    line-height: 24px;
    line-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
    font-family: 'Roboto', sans-serif;
    color: #6c6c6c;
}
.about_items{
    display: flex;
    justify-content: space-between;
}
.about_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.about_item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0px;
}
.about_item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}
.about_item-btn{
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
}
.about_item-btn .default-btn{
    color: #373636;
}
.about_item-btn .default-btn:after{
    color: #ffffff;
}
.about_item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}
.about2{
    background-image: url("../img/about-fon.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}
.about2_inner{
    max-width: 545px;
}
.about2_title{
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.about2_text{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
    font-family: 'Roboto', sans-serif;
}
.about_btn.default-btn:after{
    color: #000000;
}
.form{
    padding-top: 30px;
}
.form_inner{
    padding-bottom: 40px;
    background-image: url("../img/form-fon.png");
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.form_box{
    max-width: 848px;
    padding-top: 45px;
}
.form_box-inner{
    display: flex;
    justify-content: space-between;
}
.form_box-left{
    max-width: 260px;
    width: 100%;
}
.form_box-right{
    max-width: 555px;
    width: 100%;
}
.form_box-inner label,
.form_box-inner input,
.form_box-inner textarea,
.form_box-inner select{
    display: block;
    width: 100%;
}
.form_box-inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}
.form_box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}
.form_box-inner select{
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}
.form_box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 207px;
    resize: none;
    margin-bottom: 40px;
}
.form_box-inner button{
    background-color: transparent;
    color: #282828;
    float: right;
}